<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.KafkaConsumer_Storm.dao.DeptGetDao">
	<resultMap id="BaseResultMap" type="com.KafkaConsumer_Storm.entity.DeptGet">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="age" property="age" />
	</resultMap>

	<parameterMap id="User" type="com.KafkaConsumer_Storm.entity.DeptGet"/>

	<sql id="Base_Column_List">
		id, name, age
	</sql>

	<insert id="insert" parameterType="java.util.List" useGeneratedKeys="true">
		insert into dept1 (name,age)
			values 
		<foreach collection="list" item="item" index="index" separator="," >
     	 	(#{item.name},#{item.age})
   		 </foreach>
	</insert>

	<select id="findByUser" resultMap="BaseResultMap"  parameterMap="User">
		select
		<include refid="Base_Column_List" />
		from dept1
		where 1=1
		
		<if test="name!=null and name!=''">
			and name = #{name}
		</if>
		
		<if test="age!=null and age!=''">
			and age = #{age}
		</if>
		<if test="id!=null and id!=''">
			and id = #{id}
		</if>
	</select>
</mapper>
